<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-label>Date</mat-label>
    <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-label>Journal Entry</mat-label>
    <mat-form-field appearance="outline">
        <textarea placeholder="What does this quote mean to you? ..." matInput formControlName="userText"
            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="10"
            maxlength="4300"></textarea>
    </mat-form-field>

    <div class="requirements">
        <div>
            Min: 80
        </div>
        <div>
            {{ ((characters | async) || '').length }} / 4300
        </div>
    </div>

    <button [disabled]="form.invalid" mat-flat-button color="primary" type="submit">Save Entry</button>
</form>