/* You can add global styles to this file, and also import other style files */

#extension {
    min-height: 400px;
    min-width: 300px;
    background-color: rgba(237, 237, 237, 0.594);
    margin: 12px;
}

body {}